<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Free Agent Contract Predictor</title>

    <!-- Bootstrap core CSS -->
<!---    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
--->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
<!---    <link href="jumbotron.css" rel="stylesheet"> --->
    <link href="navbar-top.css" rel="stylesheet">
  </head>

  <body>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{{ url_for('.index') }}">BaseballContracter</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item">
	    <a class="nav-link" href="{{ url_for('.index') }}">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{{ url_for('.fa_input') }}">Predict</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{{ url_for('.algorithm') }}">Algorithm</a>	    
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{{ url_for('.validation') }}">Validation</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{{ url_for('.aboutme') }}">About Me</a>
	  </li>
	</ul>
	<ul class = "navbar-nav">
	  <li class="nav-item">
	    <a class="nav-link" href="https://www.linkedin.com/in/matthew-a-richards/" target = "_blank"><b>LinkedIn</b></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="https://github.com/marichards" target = "_blank" ><b>Github</b></a>
	  </li>
	</ul>
	
      </div>
    </nav>
    
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<div class="container">
	  <h1 class="display-3">How it Works</h1>
	</div>
      </div>


      <div class = "container">
	<h2>The Problem</h2>
	<p>During the long baseball offseason, large sports media groups like ESPN and MLB Network are hard-pressed to deliver interesting content in the absence of games. To fill the void, writers produce numerous pieces about free agents; these are players whose contracts expired the previous season and are free to sign with any team. Most of the offseason is populated with speculative articles and rumors about who might be signing where, for how much money, and for how many years. But as in most cases, the humans who run and write about baseball are subject to their own biases, leading to contract projections that can be all over the map. As with the rest of baseball, free agent contract predictions could be improved using existing data and provide machine-generated objective content to attract fans during the offseason.</p>
	<p>Baseball Contracter is here to fill that void! Much as data-heavy websites like Fangraphs provide models to predict player performance during the season, Baseball Contracter uses historical data to predict which players will get contracts and how much those contracts will be worth.</p>
	
	<h2>Data Collection</h2>
	<p>Baseball Contracter pulls together data from a handful of different resources. These include the Sean Lahman Database (player stats), the Baseball Cube (team payrolls), ESPN (historical contracts), Baseball Reference (free agent value and ages), and Fangraphs (team positional values). For most of these data, I scraped the relevant stats using Python; the Sean Lahman Database was the exception, as it can be found on Github. After gathering and cleaning the data, I deposited them into a PostgreSQL database</p>
	<p>Once the data were assembled, I went about narrowing down which numbers were actually relevant to the problem. In general, this meant a combination of key player performance statistics and other, subtler factors such as team "need". Notably, many of the statistics differ quite sharply between position players and pitchers. Thus, I created separate datasets for these 2 groups and also built separate models in each modeling phase.</p>

	<h2>Contract: Yes/No</h2>
	<p>Before determining actual contract values, my first challenge was to predict whether or not a player would actually receive a major league contract. In my dataset from 2006-2016, only about half (54%) of eligible free agents actually received contracts. In order to predict which free agents would receive contracts, I used a <a href = "https://en.wikipedia.org/wiki/Logistic_regression" target="_blank">Logistic Regression</a> model, a classification technique that aims to differentiate between two different outcomes using logarithmic transformations of the variables.</p>

	<h2>Contract Value</h2>
	<p>Predicting contract length takes a little more finesse than predicting whether or not a player will receive a contract. The reason is that unlike the binary (Yes/No) outcome of the previous model, this problem has a continuous range of possible outcomes. Historically, player contracts range anywhere from under $1 million to around $35 million annually. Furthermore, most of these contracts are on the short end; there are very few contracts of over $20 million and even fewer over $30 million. To address this problem, I used <a href = "https://en.wikipedia.org/wiki/Gradient_boosting" target="_blank">Gradient Boosted Regression</a>, a technique that takes in the contract annual values and essentially tries to fit to them using an ensemble of predictions from decision trees.</p>


	
	  
      </div> <!--container-->
    </main>
        <!-- Bootstrap core JavaScript
	     ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	  <script src="../../../../assets/js/vendor/popper.min.js"></script>
	  <script src="../../../../dist/js/bootstrap.min.js"></script>

  </body>
  </html>
